:root {
    --bg: #DEDEDE;
    --text: #f5f5f5;
    --principal: #406E96;
    --secundaria: #2A4A64;
    --terciaria: #1F3A50;
}

/*CSS DA SEARCH-BAR*/

body {
    margin: 0;
    font-family: 'Verdana', sans-serif;
    background-color: #e6e6e6;
}

/* Campo de busca */
.busca {
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
}

.busca input[type="text"] {
    padding: 10px;
    width: 200px;
    border: none;
    background-color: #d9d9d9;
    font-size: 14px;
}

.busca button {
    padding: 10px 16px;
    background-color: #d9d9d9;
    border: none;
    cursor: pointer;
}

.icone {
    font-size: 18px;
}

/* Título da seção */
.titulo-secao {
    text-align: center;
    font-size: 14px;
    color: #4f4f4f;
    border-top: 1px solid #b1b1b1;
    border-bottom: 1px solid #b1b1b1;
    padding: 10px 0;
    margin: 0 40px;
    font-weight: normal;
}

/* Grid de cards */
.livrarias-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px 40px;
}

.livraria-card {
    background-color: #396185;
    color: white;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    padding: 15px 10px;
}

.livraria-card img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius:50%;
}

.livraria-card p {
    margin: 3px 0;
    font-size: 12px;
}

.livraria-card .email {
    color: #e0f0ff;
    font-size: 11px;
}

.livraria-card .total {
    margin-top: 8px;
    font-size: 11px;
    font-weight: bold;
    color: #d6d6d6;
}

.livraria-card .numero {
    background-color: #d9d9d9;
    color: #333;
    margin-top: 5px;
    font-weight: bold;
    padding: 4px 0;
    border-radius: 2px;
}