
.busca-form {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: flex-end;
    background-color: var(--pesquisa);
    margin-bottom: 2rem;
    gap: 1rem;
}

.busca-form input[type="text"] {
    border: none; /* remove a borda preta */
    outline: none; /* remove o contorno ao focar */
    padding: 0.8rem 1rem;
    font-size: 1rem;
    background-color: var(--pesquisa);
    border-radius: 0.5rem 0 0 0.5rem; /* arredonda o lado esquerdo */
}


.busca-form button {
    background: none;
    border: none;
    cursor: pointer;
}
.busca-form button i {
    padding: 0 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    color: #000000;
}

.resenhista-box{
    border: solid 1px red;
}
