
.busca-form {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: flex-end;
    background-color: var(--pesquisa);
    margin-bottom: 2rem;
    gap: 1rem;
}

.busca-form input[type="text"] {
    border: none; /* remove a borda preta */
    outline: none; /* remove o contorno ao focar */
    padding: 0.8rem 1rem;
    font-size: 1rem;
    background-color: var(--pesquisa);
    border-radius: 0.5rem 0 0 0.5rem; /* arredonda o lado esquerdo */
}


.busca-form button {
    background: none;
    border: none;
    cursor: pointer;
}
.busca-form button i {
    padding: 0 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    color: #000000;
    border: solid 1px red;
}

/* Container geral do card */
.resenhista-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--principal); /* tom azul escuro */
    padding: 2rem;
    margin: 2rem ;
    border-radius: 6px;
    color: var(--text);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    width: 100%;
    border: solid 1px red;
}
.cardtext{
    display: flex;
    align-items: center;
   justify-content: center;
   flex-direction: column;
   border: solid 1px red;

}

/* Informações alinhadas à esquerda */
.resenhista-info a {
    display: flex;
 align-items: center;
flex-direction: row;
    gap: 2rem;
    border: solid 1px red;
}

/* Contador de resenhas à direita */
.resenha-contador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:var(--bg);
    color: #000;

    border-radius: 4px;
    font-weight: bold;
    height: 100%;
    border: solid 1px red;

}

