:root {
    --bg: #DEDEDE;
    --text: #f5f5f5;
    --principal: #406E96;
    --secundaria: #2A4A64;
    --terciaria: #1F3A50;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    transition: .2s;
    color: var(--text);
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    
}

.logo_name {
    background-color: var(--principal);
    color: var(--text);
    padding: 1rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 100%;
    text-align: center;
    display: none;
}

.perfil-container {
    background-color: var(--principal);
  width: 50%;
    margin: 3rem auto;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    

}

.perfil-container h1 {
    margin-bottom: 20px;
    color: var(--text);
    display: flex;
    justify-content: center;
}

.perfil-container p {
    font-size: 16px;
    color:var(--text);
    margin: 2rem;

    
}

.perfil-container a{
    
    color: var(--text);
    display: flex;
    justify-content: center;
   
    margin-top: 20px;
     background-color:var(--terciaria); 
     color: var(--text); 
     padding: 10px 20px; 
     text-decoration: none; 
     border-radius: 5px;
}